html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.game {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../Assets/room3.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.logo_img {
  width: 10%;
  margin-left: 5rem;
  margin-top: 0.5rem;
}
.rating {
  width: 33vw;
  height: 8vh;
  position: fixed;
  left: 25rem;
  top: 2.5rem;
  border: 3px solid #000;
  background-color: #f31eb3;
  border-radius: 30px;
}
.trophy {
  width: 3.5vw;
  position: relative;
  left: 0.2rem;
  top: 0.2rem;
  transform: rotateZ(-20deg);
}
.star {
  width: 3vw;
  position: relative;
  top: -0.1rem;
  margin-left: 1rem;
  filter: grayscale(100%);
  transform: rotateZ(18deg);
}
.yellow_star {
  width: 3.2vw;
  transform: rotateZ(0deg);
}
.rating-1 {
  position: relative;
  top: -0.8rem;
  left: 0.8rem;
  width: 65px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #fff;
  text-align: center;
}
input {
  font-size: 1.9rem;
  padding: 1px 10px;
}

.volume,
.logout {
  width: 3vw;
  height: 6vh;
  position: fixed;
  right: 19rem;
  top: 3rem;
  border: 3px solid #000;
  background-color: #f31eb3;
  border-radius: 20px;
}
.volume_img,
.logout_img {
  width: 1.5vw;
  position: relative;
  left: 0.6rem;
  top: 0.6rem;
}
.logout {
  right: 5rem;
}

.helper_text {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  position: fixed;
  right: 33rem;
  top: 8rem;
}

.carpet_img1 {
  position: absolute;
  z-index: 0;
  left: 24rem;
  top: 3rem;
  height: 110vh;
  transform: rotateX(70deg);
}

.text-kitty {
  position: relative;
  animation-name: moveb;
  animation-duration: 2200ms;
  animation-timing-function: ease-out;
}

@keyframes moveb {
  from {
    top: -8.9rem;
    transform: translateX(575px);
  }
  to {
    top: -8.9rem;
    transform: translateX(10px);
  }
}
.cat1,
.cat2,
.cat3,
.cat4 {
  width: 6%;
  position: fixed;
  left: 35rem;
  top: 17.5rem;
}
.cat1 {
  animation-name: catmove;
  animation-duration: 800ms;
  /* animation-iteration-count: infinite; */
}

@keyframes catmove {
  from {
    left: 35rem;
  }

  to {
    left: 32rem;
  }
}

.cat2 {
  left: 29.8rem;
  top: 21.8rem;
  animation-name: catmove1;
  animation-duration: 800ms;
  /* animation-iteration-count: infinite; */
}

@keyframes catmove1 {
  from {
    left: 29.8rem;
  }

  to {
    left: 26.8rem;
  }
}
.cat3 {
  left: 39rem;
  top: 23rem;
  animation-name: catmove2;
  animation-duration: 800ms;
  /* animation-iteration-count: infinite; */
}
.cat4 {
  left: 32rem;
  top: 27rem;
  animation-name: catmove3;
  animation-duration: 800ms;
  /* animation-iteration-count: infinite; */
}
@keyframes catmove2 {
  from {
    left: 39rem;
  }

  to {
    left: 36rem;
  }
}
@keyframes catmove3 {
  from {
    left: 32rem;
  }

  to {
    left: 29rem;
  }
}
.helper_text {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  position: fixed;
  right: 33rem;
}

.blackcat1 {
  width: 6%;
  position: fixed;
  right: 33rem;
  top: 17.5rem;
  animation-name: bcatmove1;
  animation-duration: 800ms;
  /* animation-iteration-count: infinite; */
}

@keyframes bcatmove1 {
  from {
    right: 33rem;
  }

  to {
    right: 35rem;
  }
}

.blackcat2 {
  right: 27.8rem;
  top: 21.8rem;
  width: 6%;
  position: fixed;
  animation-name: bmove2;
  animation-duration: 800ms;
  /* animation-iteration-count: infinite; */
}

@keyframes bmove2 {
  from {
    right: 27.8rem;
  }

  to {
    right: 29.8rem;
  }
}
.blackcat3 {
  right: 30rem;
  top: 27rem;
  width: 6%;
  position: fixed;
  animation-name: bmove3;
  animation-duration: 800ms;
  /* animation-iteration-count: infinite; */
}

@keyframes bmove3 {
  from {
    right: 32rem;
  }

  to {
    right: 34rem;
  }
}

.result {
  width: 27vw;
  height: 80px;
  position: fixed;
  left: 35rem;
  top: 35.5rem;
  border: 3px solid #000;
  background-color: #f31eb3;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn_input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
  text-align: center;
  width: 30%;
  margin-left: 1.5rem;
}
.btn_input span {
  background-color: maroon;
  border: 1px solid lightgrey;
  border-radius: 18px;
  width: 2vw;
  height: 4vh;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  margin-top: 6px;
}
.btn_input span:hover {
  background-color: #ff4800;
}
.answer1 {
  background-color: #fff;
  height: 35px;
  width: 50px;
  font-size: 1.5rem;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  border-radius: 8px;
  margin: 18px 10px 10px 20px;
}
.enter {
  background-color: darkgreen;
  height: 35px;
  width: 70px;
  font-size: 18px;
  border: 2px solid maroon;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
.enter:hover {
  background-color: #ff9100;
}

.win,
.loose {
  width: 12%;
  position: fixed;
  left: 43rem;
  top: 18rem;
  animation-name: move-text;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes move-text {
  0% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}
.win_text,
.loose_text {
  text-align: center;
  position: relative;
  left: 46.4rem;
  top: 10.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: #006400;
  width: 5%;
  animation-name: move-text;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.loose_text {
  width: 10%;
  left: 44rem;
}
